*.exe
*.html
setenv.bat
.ccache/
whereisruby.rb
glfw_opengl3_bench/
test_glfw*
utils/stb/
utils/imnodes/
utils/tools/imnodes/
utils/implot/
utils/tools/implot/
utils/tools/imspinner/
export_check.md
sdl3_opengl3/
sdl2_opengl3/
temp.rb
GPATH
GTAGS
GRTAGS
